version: '3.0'
services:
  php:
    container_name: petstore-php
    hostname: petstore-php
    build:
      dockerfile: ./docker/prod/php/Dockerfile
      context: ./
    environment:
      APP_ENV: phpunit
      DATABASE_URI: mongodb://root:root@mongo:27017
    depends_on:
      - mongo
  mongo:
    container_name: petstore-mongo
    hostname: petstore-mongo
    image: mongo:4.4-bionic
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
  nginx:
    container_name: petstore-nginx
    hostname: petstore-nginx
    build:
      dockerfile: ./docker/prod/nginx/Dockerfile
      context: ./
    environment:
      APP_ENV: phpunit
    depends_on:
      - php
