name: CI

on:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  docker-compose:
    name: docker-compose
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: docker build / start
        run: docker-compose -f docker-compose.ci.yml up -d
      - name: wait for mongo
        run: docker-compose -f docker-compose.ci.yml exec -T php bash -c 'while ! nc -z mongo 27017; do sleep 0.1; done'
      - name: composer setup:phpunit
        run: docker-compose -f docker-compose.ci.yml exec -T php bash -c 'composer setup:phpunit'
      - name: composer test:integration
        run: docker-compose -f docker-compose.ci.yml exec -T php bash -c 'INTEGRATION_ENDPOINT=http://nginx composer test:integration'
      - name: docker stop
        run: docker-compose -f docker-compose.ci.yml stop
  php74:
    name: PHP 7.4
    runs-on: ubuntu-20.04
    services:
      mongo:
        image: mongo:4.4-bionic
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: root
        ports:
          - 27017:27017
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: wait for databases
        run: |
          while ! nc -z localhost 27017; do sleep 0.1; done
      - name: composer test
        uses: docker://chubbyphp/ci-php80:latest
        env:
          APP_ENV: phpunit
          DATABASE_URI: mongodb://root:root@172.17.0.1:27017
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
  php80:
    name: PHP 8.0
    runs-on: ubuntu-20.04
    services:
      mongo:
        image: mongo:4.4-bionic
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: root
        ports:
          - 27017:27017
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: wait for databases
        run: |
          while ! nc -z localhost 27017; do sleep 0.1; done
      - name: composer test
        uses: docker://chubbyphp/ci-php80:latest
        env:
          APP_ENV: phpunit
          DATABASE_URI: mongodb://root:root@172.17.0.1:27017
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
      - name: sonarcloud.io
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
